.copyright
    - var currentDate = new Date();
    - var currentYear = currentDate.getFullYear();
    - var copyrightURL = theme.copyright.url
    - var copyrightName = theme.copyright.name
    p.copyright-footer &copy; #{currentYear} #[a.name(href=copyrightURL) #{copyrightName}] #[a.x(href='https://x.com/yj_bian') #[img(src="/X_logo.svg" alt="rss" width="12" height="12")]] #[a.github(href='https://github.com/devyujie') #[img(src="/Github_logo.svg" alt="rss" width="15" height="15")]] #[a.rss(href='/rss.xml' target="_blank") #[img(src="/rss.svg" alt="rss" width="15" height="15")]]